#root {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  padding: 31px 25px;
  color: black;
}



a{
  color: black;
}

.primary-btn{
  border-radius: 10px;
  border: 2px solid #1C1C1C;
  width: 135px;
  height: 46px;
}

