:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
}


.section-title{
  font-family: "Open Sans", sans-serif;
  line-height: 57px;
  font-weight: 700;
  font-size: 43px;
  text-align: center;
}

.title-text {
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  font-family: "Libre Baskerville", serif;
}

.body-text-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
  color: #1c1c1c80;
}

.body1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
  color: black;
}
